* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  --background-color: #0b2d72;
  --primary-accent: #0992c2;
  --secondary-accent: #0ac4e0;
  --button-color: #f6e7bc;
}

body {
  max-width: 1200px;
  height: auto;
  margin: 10px;
  background-color: var(--background-color);
}

h1 {
  color: var(--primary-accent);
  text-align: center;
  font-size: 32px;
}

form {
  margin: 10px auto;
  padding: 20px 40px;
  width: 95%;
  border: 1px solid var(--button-color);
  border-radius: 25px;
  background-color: var(--secondary-accent);
}

.part {
  text-align: center;
  padding: 20px;
}

label {
  color: var(--primary-accent);
  padding: 10px 20px;
  margin: 5px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}

input {
  border: 1px solid var(--primary-accent);
  border-radius: 25px;
  padding: 20px 40px;
  margin: 5px;
  background-color: var(--primary-accent);
  color: var(--button-color);
}
.btn {
  text-align: center;
}
.submit {
  border: 1px solid var(--button-color);
  border-radius: 25px;
  padding: 15px 30px;
  margin: 5px;
  background-color: var(--button-color);
  color: var(--secondary-accent);
}
