body {
  text-align: center;
  background-color: black;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 28px;
}
p {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  body {
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 10px;
  }

  h1 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
}
