body {
  color: blueviolet;
  background-color: antiquewhite;
  text-align: center;
  padding: 40px;
  margin: 10px;
}

h1 {
  font-size: 28px;
}
h2 {
  font-size: 25px;
}
p {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  body {
    color: blueviolet;
    background-color: antiquewhite;
    text-align: center;
    padding: 40px;
    margin: 10px;
  }

  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 20px;
    padding: 40px;
    margin: 10px;
  }
}
