* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
:root {
  --background-color: #3d45aa;
  --primary-color: #da3d20;
  --secondary-color: #f8843f;
  --button-color: #fff19b;
}
body {
  background-color: var(--background-color);
  padding: 10px;
}

h1 {
  text-align: center;
  color: var(--primary-color);
}

.positive {
  text-align: center;
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 25px;
  color: var(--secondary-color);
}
.negative {
  text-align: center;
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 25px;
  color: var(--secondary-color);
}
.absolute {
  text-align: center;
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 25px;
  color: var(--secondary-color);
}
.roll {
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 25px;
  color: var(--secondary-color);
  padding: 20px 40px;
}
#dice {
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 25px;
  color: var(--secondary-color);
  padding: 20px 40px;
  text-align: center;
  font-weight: 400;
  font-size: 23px;
}
.toss {
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 25px;
  color: var(--secondary-color);
  padding: 20px 40px;
}
#sign {
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 25px;
  color: var(--secondary-color);
  padding: 20px 40px;
  text-align: center;
  font-weight: 400;
  font-size: 23px;
}
#counting {
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 25px;
  color: var(--secondary-color);
  padding: 20px 40px;
  text-align: center;
  font-weight: 400;
  font-size: 23px;
}
#weight {
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 25px;
  color: var(--secondary-color);
  padding: 20px 40px;
  text-align: center;
  font-weight: 400;
  font-size: 23px;
}

.btn {
  text-align: center;
}
