* {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

:root{
--background-color:#BF4646;
--primary-color:#EDDCC6;
--secondary-color:#FFF4EA;
--button-color:#7EACB5;

}

body {
    background-color: var(--background-color);
}

h1{
    text-align: center;
font-size: 32px;
color: var(--primary-color);
}

h2{
    font-size: 28px;
    color: var(--button-color);
}
h3{
    font-size: 24px;
    color: var(--primary-color);
}

.multi-arr{
    padding: 20px;
    text-align: left;
    font-size: 22px;
    color: var(--secondary-color);
}

form{
    text-align: center;
    background-color: var(--secondary-color);
    border: 1px solid var(--background-color);
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(2,1);
    gap:20px;
}

label{
    color: var(--background-color);
    font-size: 24px;
    text-transform: uppercase;
    margin: 10px;
}
input{
    border:1px solid var(--primary-color);
    padding:8px;
    border-radius:25px;
    background-color:var(--background-color);
    color: var(--button-color);
    text-transform: capitalize;
    font-size: 24px;
}

#submit{
padding: 5px 10px;
color:var(--primary-color);
background-color: var(--background-color);
font-size: 19px;
}

.fruit{
    
    padding: 20px;
    text-align:left;
    font-size: 22px;
    color: var(--secondary-color);
}
.tabular{
     padding: 20px;
    text-align:left;
    font-size: 22px;
    color: var(--secondary-color);
}
.count{
    
    padding: 20px;
    text-align:left;
    font-size: 22px;
    color: var(--secondary-color);
}
.arr2,.arr1{
    
    padding: 20px;
    text-align:left;
    font-size: 22px;
    color: var(--secondary-color);

}
#search{
    
    border:1px solid var(--primary-color);
    padding:8px;
    border-radius:25px;
    background-color:var(--background-color);
    color: var(--button-color);
    text-transform: capitalize;
    font-size: 24px;
}
.found,.not-found{
padding: 5px 10px;
color:var(--primary-color);
background-color: var(--background-color);
font-size: 19px;
margin: 19px;
}