* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
:root {
  --background-color: #3d45aa;
  --primary-color: #da3d20;
  --secondary-color: #f8843f;
  --button-color: #fff19b;
}
body {
  background-color: var(--background-color);
  padding: 10px;
}

h1 {
  text-align: center;
  color: var(--primary-color);
}

#date{
    text-align: center;
    color: var(--secondary-color);
    font-size: 23px;
};


